<p>Seleccion tipo de cajón</p>
 <% @cajons.each do |type|  %>
    <h2><%= link_to type.name, cajon_path(type) %></h2>
      <p><%= type.price %></p>

  <% end %>

<%= form_tag(cajons_path, method: :get) do %>
  <%= text_field_tag :name, params[:name] %>
  <%= submit_tag 'Search', name: nil %>
<% end %>
